@charset "UTF-8";

/* Typical Device Breakpoints
    Celular: até 768px
    Demais telas: a partir de 768px
*/

/*
    Paleta de Cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

html {
    height: 100vh;
}

body, html {
    background-color: var(--cor02);
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 550px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login >div#imagem {
    display: block;
    background: #5f2c82 url('../imagens/pexels-dom-j-310479.jpg') center bottom no-repeat
    ;
    background-size: cover;
    height: 200px;
    width: 250px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    margin: 20px 0px;
}

form > div.campo {
    display: block;
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form  label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 39px;
    padding: 4px;
    padding-top: 2px;
}

div.campo > input {
    background-color: #53aaa7;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-9px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor01);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 7px;
}

form a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > i {
    font-size: 0.8em;
}